body, html {
  background-color: #aba;
}

.content {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.content h2 {
  background-color: #ede;
  font-size: 14pt;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: 8px;
  padding: 10px;
  font-weight: bold;
}

.item h3 {
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
}

.item {
  text-align: left;
  margin: 8px;
  padding: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #efefef;
}

.item .value {
  display: inline-block;
}

.item .action {
  display: inline-block;
  float: right;
}

.field {
  padding: 5px 0 5px 15px;
  margin-left: auto;
  margin-right: auto;
}

.field label {
  display: inline-block;
  min-width: 50px;
}

.field input[type="file"] {
  width: 100px;
}

.right {
  text-align: right;
}

