<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>RHHEEEET</title>
    <%= javascript_include_tag "vendor/jquery-1.4.2.js", "application" %>
    <%= stylesheet_link_tag "vendor/reset-fonts-grids"  %>
    <%= stylesheet_link_tag 'application', :media => 'screen' %>
  </head>
  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
